# 1. Goodbooks-10k 
- Link : https://www.kaggle.com/zygmunt/goodbooks-10k

In [1]:
import pandas as pd
import numpy as np
import plotnine 
from plotnine import *
import os, sys, gc
from tqdm.notebook import tqdm
import warnings 
warnings.filterwarnings('ignore')

In [2]:
path = './input/books/'
print(os.listdir(path))

['books.csv', 'book_tags.csv', 'ratings.csv', 'sample_book.xml', 'tags.csv', 'test.csv', 'to_read.csv', 'train.csv']

In [108]:
books = pd.read_csv(path + "books.csv")
book_tags = pd.read_csv(path + "book_tags.csv")
train = pd.read_csv(path + "train.csv")
test = pd.read_csv(path + "test.csv")
tags = pd.read_csv(path + "tags.csv")
to_read = pd.read_csv(path + "to_read.csv")

In [109]:
train['book_id'] = train['book_id'].astype(str)
test['book_id'] = test['book_id'].astype(str)
books['book_id'] = books['book_id'].astype(str)

In [5]:
popular_rec_model = books.sort_values(by='books_count', ascending=False)['book_id'].values[0:500]

In [6]:
sol = test.groupby(['user_id'])['book_id'].agg({'unique'}).reset_index()
gt = {}
for user in tqdm(sol['user_id'].unique()): 
    gt[user] = list(sol[sol['user_id'] == user]['unique'].values[0])

HBox(children=(FloatProgress(value=0.0, max=53424.0), HTML(value='')))

In [7]:
rec_df = pd.DataFrame()
rec_df['user_id'] = train['user_id'].unique()

## TF-IDF를 이용한 Contents Based Model

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(books['title'])
print(tfidf_matrix.shape)

(10000, 9019)

In [9]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_matrix = cosine_similarity(tfidf_matrix, tfidf_matrix)
cosine_matrix.shape

(10000, 10000)

In [10]:
# book title와 id를 매핑할 dictionary를 생성해줍니다. 
book2id = {}
for i, c in enumerate(books['title']): book2id[i] = c

# id와 book title를 매핑할 dictionary를 생성해줍니다. 
id2book = {}
for i, c in book2id.items(): id2book[c] = i
    
# book_id와 title를 매핑할 dictionary를 생성해줍니다.
bookid2book = {}
for i, j in zip(books['title'].values, books['book_id'].values):
    bookid2book[i] = j

In [11]:
books['title'].head()

0              The Hunger Games (The Hunger Games, #1)
1    Harry Potter and the Sorcerer's Stone (Harry P...
2                              Twilight (Twilight, #1)
3                                To Kill a Mockingbird
4                                     The Great Gatsby
Name: title, dtype: object

In [12]:
idx = id2book['Twilight (Twilight, #1)']  
sim_scores = [(book2id[i], c) for i, c in enumerate(cosine_matrix[idx]) if i != idx] 
sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse=True)
sim_scores[0:10]

[('The Twilight Saga (Twilight, #1-4)', 0.920347418277986),
 ('The Twilight Collection (Twilight, #1-3)', 0.8786339079447184),
 ('The Twilight Saga Complete Collection  (Twilight, #1-4 + 3.5)',
  0.7697532056304309),
 ('Twilight and History', 0.7465001575650626),
 ('The Twilight Saga: The Official Illustrated Guide (Twilight, #4.5)',
  0.7045174300631831),
 ('Twilight Eyes', 0.6770737331426326),
 ('Twilight (The Mediator, #6)', 0.6377631333498953),
 ('New Moon (Twilight, #2)', 0.6185575138625542),
 ('Eclipse (Twilight, #3)', 0.612819563854136),
 ('The Servants of Twilight', 0.5837817298466093)]

0. 학습셋에서 제목이 있는 경우에 대해서만 진행
1. 각 유저별로 읽은 책의 목록을 수집 
2. 읽은 책과 유사한 책 추출 
3. 모든 책에 대해서 유사도를 더한 값을 계산 
4. 3에서 유사도가 가장 높은 순서대로 추출

In [13]:
train = pd.merge(train, books[['book_id', 'title']], how='left', on='book_id')
train.head()

   user_id book_id     title
0        1    4893       NaN
1        2    8855       NaN
2        3    9049       NaN
3        4    3273  Moloka'i
4        5    4829       NaN

In [14]:
# 0. 학습셋에서 제목이 있는 경우에 대해서만 진행
tf_train = train[train['title'].notnull()].reset_index(drop=True)
tf_train['idx2title'] = tf_train['title'].apply(lambda x: id2book[x])
tf_train.head()

,user_id,book_id,title,idx2title
0,4,3273,Moloka'i,1215
1,7,4138,Naked,343
2,7,4588,Extremely Loud and Incredibly Close,248
3,9,8676,Unlimited Power : The New Science Of Personal ...,4701
4,10,5907,The Hobbit,6

In [15]:
idx2title2book = {}
for i, j in zip(tf_train['idx2title'].values, tf_train['book_id'].values):
    idx2title2book[i] = j

In [16]:
# 1. 각 유저별로 읽은 책의 목록을 수집 
user = 7
read_list = tf_train.groupby(['user_id'])['idx2title'].agg({'unique'}).reset_index()
seen = read_list[read_list['user_id'] == user]['unique'].values[0]
seen

array([343, 248], dtype=int64)

In [17]:
# 2. 읽은 책과 유사한 책 추출 
## 343번째 책과 다른 책들간의 유사도 
cosine_matrix[343]

array([0., 0., 0., ..., 0., 0., 0.])

In [18]:
# 2. 읽은 책과 유사한 책 추출 
total_cosine_sim = np.zeros(len(book2id))
for book_ in seen: 
    # 3. 모든 책에 대해서 유사도를 더한 값을 계산 
    # 343번째 책과 248의 유사도가 모두 결합된 유사도
    total_cosine_sim += cosine_matrix[book_]

In [19]:
# 4. 3에서 유사도가 가장 높은 순서대로 추출
sim_scores = [(i, c) for i, c in enumerate(total_cosine_sim) if i not in seen] # 자기 자신을 제외한 영화들의 유사도 및 인덱스를 추출 
sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse=True) # 유사도가 높은 순서대로 정렬 
sim_scores[0:5]

[(4809, 0.793036327171204),
 (6199, 0.6915730356677104),
 (3194, 0.6607508855409738),
 (1570, 0.6390974315343301),
 (7393, 0.5820260477746269)]

In [20]:
book2id[4809]

'The Naked and the Dead'

In [21]:
bookid2book[book2id[4809]]

'12467'

In [22]:
tf_train['user_id'].unique()

array([    4,     7,     9, ..., 53416, 53419, 53424], dtype=int64)

In [23]:
tf_train.head()

,user_id,book_id,title,idx2title
0,4,3273,Moloka'i,1215
1,7,4138,Naked,343
2,7,4588,Extremely Loud and Incredibly Close,248
3,9,8676,Unlimited Power : The New Science Of Personal ...,4701
4,10,5907,The Hobbit,6

In [29]:
## 전체 영화에 대해서 진행 
total_rec_list = {}

read_list1 = train.groupby(['user_id'])['book_id'].agg({'unique'}).reset_index()
read_list2 = tf_train.groupby(['user_id'])['idx2title'].agg({'unique'}).reset_index()

for user in tqdm(train['user_id'].unique()):
    rec_list = []
        
    # 만약 TF-IDF 소속의 추천대상이라면 Contents 기반의 추천 
    if user in tf_train['user_id'].unique():
        # 1. 각 유저별로 읽은 책의 목록을 수집 
        seen = read_list2[read_list2['user_id'] == user]['unique'].values[0]
        # 2. 읽은 책과 유사한 책 추출 
        total_cosine_sim = np.zeros(len(book2id))
        for book_ in seen: 
            # 3. 모든 책에 대해서 유사도를 더한 값을 계산 
            # 343번째 책과 248의 유사도가 모두 결합된 유사도
            total_cosine_sim += cosine_matrix[book_]
            
        # 4. 3에서 유사도가 가장 높은 순서대로 추출
        sim_scores = [(bookid2book[book2id[i]], c) for i, c in enumerate(total_cosine_sim) if i not in seen] # 자기 자신을 제외한 영화들의 유사도 및 인덱스를 추출 
        recs = sorted(sim_scores, key = lambda x: x[1], reverse=True)[0:300] # 유사도가 높은 순서대로 정렬 
        for rec in recs: 
            if rec not in seen:
                rec_list.append(rec)   
        
    # 그렇지 않으면 인기도 기반의 추천 
    else: 
        seen = read_list1[read_list1['user_id'] == user]['unique'].values[0]
        for rec in popular_rec_model[0:400]:
            if rec not in seen:
                rec_list.append(rec)
                
    total_rec_list[user] = rec_list[0:200]

HBox(children=(FloatProgress(value=0.0, max=53382.0), HTML(value='')))

In [30]:
import six
import math

# https://github.com/kakao-arena/brunch-article-recommendation/blob/master/evaluate.py

class evaluate():
    def __init__(self, recs, gt, topn=100):
        self.recs = recs
        self.gt = gt 
        self.topn = topn 
        
    def _ndcg(self):
        Q, S = 0.0, 0.0
        for u, seen in six.iteritems(self.gt):
            seen = list(set(seen))
            rec = self.recs.get(u, [])
            if not rec or len(seen) == 0:
                continue

            dcg = 0.0
            idcg = sum([1.0 / math.log(i + 2, 2) for i in range(min(len(seen), len(rec)))])
            for i, r in enumerate(rec):
                if r not in seen:
                    continue
                rank = i + 1
                dcg += 1.0 / math.log(rank + 1, 2)
            ndcg = dcg / idcg
            S += ndcg
            Q += 1
        return S / Q


    def _map(self):
        n, ap = 0.0, 0.0
        for u, seen in six.iteritems(self.gt):
            seen = list(set(seen))
            rec = self.recs.get(u, [])
            if not rec or len(seen) == 0:
                continue

            _ap, correct = 0.0, 0.0
            for i, r in enumerate(rec):
                if r in seen:
                    correct += 1
                    _ap += (correct / (i + 1.0))
            _ap /= min(len(seen), len(rec))
            ap += _ap
            n += 1.0
        return ap / n


    def _entropy_diversity(self):
        sz = float(len(self.recs)) * self.topn
        freq = {}
        for u, rec in six.iteritems(self.recs):
            for r in rec:
                freq[r] = freq.get(r, 0) + 1
        ent = -sum([v / sz * math.log(v / sz) for v in six.itervalues(freq)])
        return ent
    
    def _evaluate(self):
        print('MAP@%s: %s' % (self.topn, self._map()))
        print('NDCG@%s: %s' % (self.topn, self._ndcg()))
        print('EntDiv@%s: %s' % (self.topn, self._entropy_diversity()))

In [31]:
evaluate_func = evaluate(recs=total_rec_list, gt = gt, topn=200)
evaluate_func._evaluate()

MAP@200: 8.152674144049246e-05
NDCG@200: 0.0008393198172755216
EntDiv@200: 6.916260625417244

 ## Word2vec을 이용한 추천시스템 
 - Tag간의 유사도 
 - 제목간의 유사도 
 - 책의 읽은 순서를 통한 유사도

In [34]:
agg = train.groupby(['user_id'])['book_id'].agg({'unique'})
agg.head()

               unique
user_id
1              [4893]
2              [8855]
3              [9049]
4              [3273]
5        [4829, 6703]

In [35]:
# int형식은 Word2vec에서 학습이 안되어서 String으로 변경해줍니다. 
sentence = []
for user_sentence in agg['unique'].values:
    sentence.append(list(map(str, user_sentence)))

In [36]:
# Word2vec의 학습을 진행해줍니다. 
from gensim.models import Word2Vec
embedding_model = Word2Vec(sentence, size=20, window = 5, 
                           min_count=1, workers=4, iter=200, sg=1)

In [52]:
embedding_model.wv.most_similar(positive=['4893'], topn=10)

[('9864', 0.8487212657928467),
 ('8508', 0.841190755367279),
 ('2108', 0.8277672529220581),
 ('9984', 0.8241268396377563),
 ('8666', 0.8150913715362549),
 ('6291', 0.8139212131500244),
 ('5081', 0.8038250803947449),
 ('4348', 0.8029327392578125),
 ('9714', 0.800724983215332),
 ('9650', 0.7993171811103821)]

In [58]:
word2vec_dict = {}
for book in seen: 
    for i in embedding_model.wv.most_similar(positive=[book], topn=250): 
        if i[0] not in word2vec_dict.keys(): 
            word2vec_dict[i[0]] = i[1]
        else:
            word2vec_dict[i[0]] += i[1]

In [59]:
word2vec_dict

{'9864': 0.8487212657928467,
 '8508': 0.841190755367279,
 '2108': 0.8277672529220581,
 '9984': 0.8241268396377563,
 '8666': 0.8150913715362549,
 '6291': 0.8139212131500244,
 '5081': 0.8038250803947449,
 '4348': 0.8029327392578125,
 '9714': 0.800724983215332,
 '9650': 0.7993171811103821,
 '8618': 0.7968665361404419,
 '8675': 0.79576575756073,
 '7606': 0.7947741746902466,
 '9934': 0.791398286819458,
 '8469': 0.7885060906410217,
 '8033': 0.7873204946517944,
 '7375': 0.7872129678726196,
 '8239': 0.7834101915359497,
 '6204': 0.7806516885757446,
 '1778': 0.7803735733032227,
 '4292': 0.7797765731811523,
 '2022': 0.7775174975395203,
 '4780': 0.776070237159729,
 '6877': 0.7741109132766724,
 '8470': 0.7681140899658203,
 '8361': 0.7676546573638916,
 '8809': 0.7674790620803833,
 '8233': 0.7645250558853149,
 '8503': 0.7632824182510376,
 '4746': 0.762784481048584,
 '8891': 0.761664628982544,
 '5670': 0.7614864110946655,
 '7669': 0.760509729385376,
 '7370': 0.7572649717330933,
 '6825': 0.7545024156570435,
 '7198': 0.7525805830955505,
 '9324': 0.7511262893676758,
 '7264': 0.7487174868583679,
 '6335': 0.7479904890060425,
 '4894': 0.7470883131027222,
 '8160': 0.7458878755569458,
 '7205': 0.7439407706260681,
 '1333': 0.7418736219406128,
 '9323': 0.7405997514724731,
 '8996': 0.7402006387710571,
 '5387': 0.739243745803833,
 '6317': 0.7379162907600403,
 '6037': 0.7378262281417847,
 '7862': 0.737189531326294,
 '9679': 0.735867977142334,
 '6453': 0.7355057001113892,
 '6600': 0.7337268590927124,
 '7647': 0.7334020137786865,
 '8355': 0.7322476506233215,
 '8717': 0.7305450439453125,
 '9612': 0.7304885387420654,
 '7769': 0.730445384979248,
 '3734': 0.7304218411445618,
 '9990': 0.7270524501800537,
 '9819': 0.7268117070198059,
 '9004': 0.7260907292366028,
 '4475': 0.7258621454238892,
 '6166': 0.7254987955093384,
 '8923': 0.7249637842178345,
 '8152': 0.724791944026947,
 '6832': 0.7243043184280396,
 '6194': 0.7242247462272644,
 '5537': 0.7241148948669434,
 '7396': 0.7237707376480103,
 '4211': 0.7226717472076416,
 '5244': 0.7222093343734741,
 '6593': 0.7207332849502563,
 '5336': 0.7202266454696655,
 '8836': 0.7197972536087036,
 '5369': 0.7193641662597656,
 '8238': 0.7183089256286621,
 '4723': 0.7178671956062317,
 '5377': 0.7178194522857666,
 '8819': 0.7177243232727051,
 '8572': 0.7170666456222534,
 '2797': 0.7159098386764526,
 '7090': 0.7156904935836792,
 '7419': 0.7141578793525696,
 '3928': 0.7136049270629883,
 '6258': 0.7131126523017883,
 '4634': 0.7124675512313843,
 '5132': 0.7124647498130798,
 '9632': 0.7123523354530334,
 '5126': 0.7121771574020386,
 '7783': 0.7111829519271851,
 '6046': 0.7111228108406067,
 '9689': 0.7107091546058655,
 '5448': 0.710561215877533,
 '8382': 0.7103471755981445,
 '9078': 0.7094188928604126,
 '9296': 0.7089124917984009,
 '5911': 0.7086291313171387,
 '6156': 0.7078719735145569,
 '7661': 0.7059206962585449,
 '6471': 0.7054357528686523,
 '6553': 0.705162525177002,
 '9214': 0.7049657702445984,
 '8403': 0.7047924995422363,
 '3181': 0.704145073890686,
 '6250': 0.7035071849822998,
 '8375': 0.7025831937789917,
 '4367': 0.7025296092033386,
 '5648': 0.7022451162338257,
 '8524': 0.702223539352417,
 '1595': 0.7016240358352661,
 '5978': 0.7011886239051819,
 '3881': 0.7011606097221375,
 '5908': 0.7000035047531128,
 '8121': 0.6997408866882324,
 '9123': 0.6995366811752319,
 '4704': 0.6994173526763916,
 '7970': 0.6974601149559021,
 '7998': 0.6969248056411743,
 '3556': 0.6967662572860718,
 '5700': 0.6966543197631836,
 '9215': 0.6964811086654663,
 '9302': 0.6964682936668396,
 '5637': 0.6954433917999268,
 '9631': 0.693847119808197,
 '6617': 0.6937041282653809,
 '6820': 0.6932680010795593,
 '6607': 0.6930102705955505,
 '8564': 0.6925061941146851,
 '6567': 0.6918392181396484,
 '3954': 0.6918020248413086,
 '7907': 0.6903126239776611,
 '8882': 0.6891512274742126,
 '5275': 0.6881891489028931,
 '8452': 0.6873500347137451,
 '5881': 0.6871415972709656,
 '8107': 0.6870596408843994,
 '6024': 0.6870267391204834,
 '2934': 0.6854596138000488,
 '9054': 0.6852419376373291,
 '2720': 0.6848311424255371,
 '7290': 0.6847972869873047,
 '5138': 0.6845132112503052,
 '6064': 0.6841399073600769,
 '7151': 0.6836892366409302,
 '7641': 0.6833283305168152,
 '2694': 0.6832904815673828,
 '3939': 0.6825445890426636,
 '9359': 0.6817805171012878,
 '4080': 0.6813801527023315,
 '5809': 0.6810010075569153,
 '8497': 0.6808947324752808,
 '1777': 0.68079674243927,
 '7734': 0.6805808544158936,
 '8849': 0.6793614029884338,
 '9291': 0.6790027022361755,
 '8120': 0.6788341403007507,
 '7750': 0.6772046089172363,
 '9119': 0.6769874095916748,
 '9766': 0.6766806840896606,
 '5531': 0.6766044497489929,
 '3041': 0.6763619184494019,
 '5701': 0.6759195327758789,
 '3104': 0.6755892634391785,
 '8788': 0.6755498647689819,
 '7444': 0.6749951839447021,
 '3898': 0.6746545433998108,
 '9442': 0.674651563167572,
 '8697': 0.6742793917655945,
 '7418': 0.674068033695221,
 '1624': 0.6734957695007324,
 '4186': 0.6723048090934753,
 '7716': 0.6721715331077576,
 '1855': 0.6720595359802246,
 '8964': 0.6720448732376099,
 '8915': 0.6719493865966797,
 '8174': 0.6716045141220093,
 '5068': 0.6715298891067505,
 '8611': 0.6711859703063965,
 '6740': 0.6706593036651611,
 '6521': 0.6706222295761108,
 '8411': 0.6705332398414612,
 '4856': 0.6703913807868958,
 '9977': 0.6701682806015015,
 '1973': 0.669964611530304,
 '6011': 0.6694813370704651,
 '9460': 0.6694716215133667,
 '8479': 0.6672745943069458,
 '4054': 0.6664551496505737,
 '7529': 0.66609126329422,
 '5996': 0.6658892631530762,
 '4811': 0.6655852198600769,
 '7459': 0.6650225520133972,
 '8329': 0.6649993062019348,
 '7329': 0.6649710536003113,
 '6032': 0.6648781299591064,
 '6909': 0.6647903323173523,
 '2572': 0.664594292640686,
 '8902': 0.663750171661377,
 '8570': 0.6626963019371033,
 '4744': 0.6622671484947205,
 '5882': 0.6618602275848389,
 '9542': 0.6608985662460327,
 '9834': 0.6608350276947021,
 '7478': 0.6602826714515686,
 '4779': 0.6602576971054077,
 '5995': 0.6599738001823425,
 '2837': 0.6598937511444092,
 '7668': 0.6597886085510254,
 '9158': 0.6596754789352417,
 '7147': 0.6596476435661316,
 '4685': 0.6594974994659424,
 '9549': 0.658906102180481,
 '9049': 0.6583379507064819,
 '5968': 0.6578201055526733,
 '6220': 0.6575418710708618,
 '4702': 0.6574281454086304,
 '7917': 0.6570774912834167,
 '5977': 0.6565743684768677,
 '8410': 0.6564266681671143,
 '9858': 0.6562552452087402,
 '5496': 0.6561926007270813,
 '6548': 0.6560674905776978,
 '2548': 0.6559562087059021,
 '6654': 0.6556602716445923,
 '4620': 0.6556245684623718,
 '9563': 0.6553162336349487,
 '5841': 0.6550379991531372,
 '4622': 0.6546751260757446,
 '4366': 0.6546415686607361,
 '7001': 0.6545844078063965,
 '8704': 0.654474675655365,
 '9472': 0.6541434526443481,
 '3675': 0.6539500951766968,
 '7239': 0.6537501811981201,
 '9946': 0.6535533666610718,
 '8357': 0.6534184217453003,
 '9280': 0.6533399820327759,
 '7861': 0.6532562375068665,
 '8999': 0.653251051902771,
 '6128': 0.6531997323036194,
 '7727': 0.6531491875648499,
 '6634': 0.6527984142303467,
 '7710': 0.6525872945785522,
 '6894': 0.6521946787834167,
 '1401': 0.6518903970718384,
 '6980': 0.6518681049346924,
 '7209': 0.651386559009552,
 '5334': 0.6513202786445618,
 '3480': 0.6511325836181641,
 '4850': 0.6503192186355591}

In [72]:
## 전체 영화에 대해서 진행 
total_rec_list = {}

read_list = train.groupby(['user_id'])['book_id'].agg({'unique'}).reset_index()
for user in tqdm(train['user_id'].unique()):
    rec_list = []     
    seen = read_list1[read_list1['user_id'] == user]['unique'].values[0]
    word2vec_dict = {}
    for book in seen: 
        for i in embedding_model.wv.most_similar(positive=[book], topn=300): 
            if i[0] not in word2vec_dict.keys(): 
                word2vec_dict[i[0]] = i[1]
            else:
                word2vec_dict[i[0]] += i[1]
                
    rec_list = list(dict(sorted(word2vec_dict.items(), key = lambda x: x[1], reverse=True)).keys())
    total_rec_list[user] = rec_list[0:200]

HBox(children=(FloatProgress(value=0.0, max=53382.0), HTML(value='')))

In [73]:
evaluate_func = evaluate(recs=total_rec_list, gt = gt, topn=200)
evaluate_func._evaluate()

MAP@200: 0.06155149762295346
NDCG@200: 0.1908958045145217
EntDiv@200: 8.907705070036682

### 태그를 통한 유사도 계산

In [110]:
book_tags.columns = ['book_id', 'tag_id', 'count']
book_tags['book_id'] = book_tags['book_id'].astype(str)
book_tags['tag_id'] = book_tags['tag_id'].astype(str)

tags['tag_id'] = tags['tag_id'].astype(str)

book_tags = pd.merge(book_tags, tags, how='left', on='tag_id')
book_tags.head()

  book_id tag_id   count           tag_name
0       1  30574  167697            to-read
1       1  11305   37174            fantasy
2       1  11557   34173          favorites
3       1   8717   12986  currently-reading
4       1  33114   12716        young-adult

In [111]:
agg = book_tags.groupby(['book_id'])['tag_name'].agg({'unique'}).reset_index()
agg.head()

    book_id                                             unique
0         1  [to-read, fantasy, favorites, currently-readin...
1        10  [to-read, favorites, fantasy, currently-readin...
2     10006  [to-read, fiction, currently-reading, rory-gil...
3   1000751  [to-read, classics, childrens, fiction, curren...
4  10008056  [to-read, default, currently-reading, krimi, c...

In [112]:
# 태그간의 유사도 계산 
# int형식은 Word2vec에서 학습이 안되어서 String으로 변경해줍니다. 
sentence = []
for user_sentence in agg['unique'].values:
    sentence.append(list(map(str, user_sentence)))

In [135]:
from gensim.models import doc2vec
doc_vectorizer = doc2vec.Doc2Vec(
    dm=0,            # PV-DBOW / default 1
    dbow_words=1,    # w2v simultaneous with DBOW d2v / default 0
    window=10,        # distance between the predicted word and context words
    size=100,        # vector size
    alpha=0.025,     # learning-rate
    seed=1234,
    min_count=5,    # ignore with freq lower
    min_alpha=0.025, # min learning-rate
    workers=4,   # multi cpu
    hs = 1,          # hierar chical softmax / default 0
    negative = 10   # negative sampling / default 5
)

In [136]:
from collections import namedtuple

TaggedDocument = namedtuple('TaggedDocument', 'words tags')
tagged_train_docs = [TaggedDocument(c, [d]) for c, d in agg[['unique', 'book_id']].values]

In [137]:
doc_vectorizer.build_vocab(tagged_train_docs)
print(str(doc_vectorizer))

Doc2Vec(dbow+w,d100,n10,hs,w10,mc5,s0.001,t4)

In [138]:
# 벡터 문서 학습
from time import time

start = time()

for epoch in tqdm(range(5)):
    doc_vectorizer.train(tagged_train_docs, total_examples=doc_vectorizer.corpus_count, epochs=doc_vectorizer.iter)
    doc_vectorizer.alpha -= 0.002 # decrease the learning rate
    doc_vectorizer.min_alpha = doc_vectorizer.alpha # fix the learning rate, no decay

#doc_vectorizer.train(tagged_train_docs, total_examples=doc_vectorizer.corpus_count, epochs=doc_vectorizer.iter)
end = time()
print("During Time: {}".format(end-start))

HBox(children=(FloatProgress(value=0.0, max=5.0), HTML(value='')))

During Time: 149.26799321174622

In [144]:
doc_vectorizer.docvecs.most_similar('1', topn=20)

[('136251', 0.8078522682189941),
 ('15881', 0.798373281955719),
 ('5', 0.765884518623352),
 ('3', 0.7629809975624084),
 ('6', 0.7605149149894714),
 ('10', 0.7444010972976685),
 ('862041', 0.7420138716697693),
 ('2', 0.7228800058364868),
 ('1317181', 0.6814628839492798),
 ('99298', 0.6564392447471619),
 ('3950967', 0.6416337490081787),
 ('100464', 0.6414878964424133),
 ('111450', 0.6387267112731934),
 ('28187', 0.6379451751708984),
 ('6294', 0.6286188364028931),
 ('4502507', 0.6279685497283936),
 ('2120932', 0.621900200843811),
 ('9520360', 0.610683798789978),
 ('784911', 0.6093959808349609),
 ('2146957', 0.601519763469696)]

In [151]:
train.head()

   user_id book_id
0        1    4893
1        2    8855
2        3    9049
3        4    3273
4        5    4829

In [154]:
# tag 정보가 있는 책이 있고 아닌 책이 있어서 해당 책만 추출 
agg['type'] = '1'
train = pd.merge(train, agg, how='left', on='book_id')

In [165]:
## 전체 영화에 대해서 진행 
total_rec_list = {}

read_list1 = train.groupby(['user_id'])['book_id'].agg({'unique'}).reset_index()
read_list2 = train[train['type'] == '1'].groupby(['user_id'])['book_id'].agg({'unique'}).reset_index()
for user in tqdm(train['user_id'].unique()):
    rec_list = []
    if user in read_list2['user_id'].unique():
        seen = read_list2[read_list2['user_id'] == user]['unique'].values[0]
        doc2vec_dict = {}
        for book in seen: 
            for i in doc_vectorizer.docvecs.most_similar(positive=[book], topn=300): 
                if i[0] not in doc2vec_dict.keys(): 
                    doc2vec_dict[i[0]] = i[1]
                else:
                    doc2vec_dict[i[0]] += i[1]

        rec_list = list(dict(sorted(doc2vec_dict.items(), key = lambda x: x[1], reverse=True)).keys())
    else:
        
        seen = read_list1[read_list1['user_id'] == user]['unique'].values[0]
        for rec in popular_rec_model[0:300]:
            if rec not in seen:
                rec_list.append(rec)
    total_rec_list[user] = rec_list[0:200]

HBox(children=(FloatProgress(value=0.0, max=53382.0), HTML(value='')))

In [167]:
evaluate_func = evaluate(recs=total_rec_list, gt = gt, topn=200)
evaluate_func._evaluate()

MAP@200: 0.00016403839614223664
NDCG@200: 0.0016668758871920964
EntDiv@200: 6.988247617640543